<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.capstone.repository.MemberMapper">
   
	<insert id="bookmarkRegistraion">
		insert into bookmarks(memberidx, shopidx) values( #{memberidx}, #{shopidx} );
	</insert>
	
	
	<delete id="bookmarkDelete">
		delete 
		from bookmarks
		where memberidx = #{memberidx} and shopidx = #{shopidx};
	</delete>
	
	
	<select id ="getMyBookmarkedShop" resultType ="shop">
		SELECT s.*
		FROM bookmarks b
		JOIN shop s ON b.shopidx = s.shopidx
		WHERE b.memberidx = #{memberidx};
	</select>
	
	<update id = "updateNickname">
		update member

		set nickname = #{nickname}
		
		where id = #{member.id,jdbcType=VARCHAR} and pw = #{member.pw,jdbcType=VARCHAR};
	</update>
	
	<update id = "updateMember">
		update member

		set nickname = #{newMember.nickname},
			name = #{newMember.name},
			phone = #{newMember.phone}
		
		where id = #{oldMember.id} and pw = #{oldMember.pw};
	</update>

	<delete id = "deleteMember">
		delete from member

		where id = #{id} and pw = #{pw};
	</delete>
</mapper>