
.App {
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Cafe24Supermagic-Bold-v1.0';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.wrap {
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

/*header*/
#header {
  width: 100%;
  height: 63.5px;
  display: flex;
  transition: opacity 0.2s ease-in-out;
}
.header_hidden {
  opacity: 0.7;
}
#header .logo {
  background-color: white;
  width: 20%;
  height: 100%;
  
}
#header .logo>a {
  display: block;
  padding:10px 20px;
  font-size: 30px;
  margin-top: 5px;
}
#header .logo>a:hover{
  text-decoration: underline;
}
#header .nav {
  background-color:white;
  width: 80%;
  height: 100%;
}

.nav>ul {
  display: flex;
  justify-content: right;
 
}

.nav>ul>li {
  background-color: white;
}

.nav>ul>li>a {
  opacity: 0.4;
  font-size: 25px;
  display: block;
  padding: 2.5px 40px;
}.nav>ul>li>a>p{
  display: inline-block;

}
.nav>ul>li>a:hover{
  opacity: 1;
}

.nav>ul>li>ul {}

.nav>ul>li>ul>li {}

.nav>ul>li>ul>li>a {}

/*contents*/
#contents {
  width: 100%;
  border-top: 1px solid black ;
  transition: opacity 0.2s ease-in-out;
}
.contents_hidden {
  opacity: 0.7;
}
/*footer*/
#footer {
  display: flex;
  height: 61px;
  transition: opacity 0.2s ease-in-out;
}
.footer_hidden {
  opacity: 0.7;
}
#footer .footer1 {
  background-color: rgba(228, 226, 226, 0.819);
  width: 20%;
  height: 100%;
}
#footer .footer1>a {
  display: block;
  padding:10px 20px;
  font-size: 30px;
  margin-top: 5px;
}
#footer .footer1>a:hover {
  text-decoration: underline;
}
#footer .footer2 {
  background-color:  rgba(228, 226, 226, 0.819);
  width: 80%;
  height: 100%;
}

.wrap {
  position: relative;
}

#filter {
  position: absolute;
  left: 0;
  top: 0;
  width: 25%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  display: flex;
  z-index: 100;
}

#filter>.filter {

  width: 90%;
  height: 100%;
  background-color: rgb(223, 220, 220);
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.filter_hidden {
  transform: translateX(-90%);
  
}

.filter-btn {
  width: 10%;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
#filter-btn_hidden {
  opacity: 0.7;
}
.filter1-btn {
  border: none;
  position: absolute;
  top: 45%;
  left: 27%;
  padding: 20px 10px;
  transform: translate(-45%, 3%);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

}

.filter1-btn:hover {
  background-color: rgba(190, 183, 183, 1);
}

/*join.js*/
.join_wrap {
  position: relative;
  width: 100%;
  height: 100vh;
}

.joinWrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1700px;
  height: 900px;
  background-color: rgb(216, 208, 208);
  display: flex;
  border: 3px solid black;
}

.join {
  width: 35%;
  background-color: #efeaea;
  padding: 40px;
  box-sizing: border-box;
}

.join>p {
  font-size: 40px;
  margin-bottom: 30px;
}

.join>#textFeild {
  padding-bottom: 30px;
}

.join>.btn {
  margin-top: 15px;
  width: 200px;
  height: 50px;
  background-color: #48484888;
}

.join>.btn> span {
  display: block;
  width:100%;
  margin-top: 24px;
}
.join>.btn:hover {
  background-color: #969191fc;
}
.joinWrap>.imgarea {
  width: 65%;
  background-image: url("./img/sign_up.png");
  opacity: 0.7;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.joinWrap>.imgarea>.text {
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  box-sizing: border-box;
}
.search_adress{
  width:50px; 
  height:60px; 
  background-color:#efeaea;
  border-radius:5px;
  opacity:0.8; 
  cursor:pointer;
}
.part{
  margin:0px 5px 10px 5px;
  cursor:pointer;
  border-radius:5px;
  opacity:0.8; 
  background-color:#efeaea;
  width:110px; 
  height:50px; 
}
.part:focus{
  background-color:#969191;
  color:white;
}
/* login */
.wrap {
  position: relative;
  width: 100%;
  height: 100vh;
}

.loginWrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1700px;
  height: 900px;
  background-color: rgb(216, 208, 208);
  display: flex;
  border: 3px solid black;
}
.loginWrap>.imgarea{
  width: 60%;
  background-image: url("./img/sign_up.png");
  opacity: 0.7;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.loginWrap>.imgarea>.text {
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  box-sizing: border-box;
}
.login {
  width: 40%;
  background-color: #efeaea;
  padding: 100px;
  box-sizing: border-box;
}

.login>p {
  margin-top: 80px;
  font-size: 40px;
  margin-bottom: 30px;
}

.login>#textFeild {
  padding-bottom: 30px;
}

.login>.inventory_btn {
  background-color: #8282828d;
  width: 310px;
  height: 20px;
  margin-left: 65px;
  padding: 13px 20px;
  border-radius: 5px;
  font-size: 18px;
}

.login>.inventory_btn>a {
  color: black;
  width: 100%;
  display: block;
}

.login>.inventory_btn>a:hover {
  color: white;
}

.login>.inventory_btn:hover {
  background-color: #828282;
}

.serch_id_pw {
  float: right;
  margin-right: 20px;
  padding: 10px 20px;
  opacity: 0.8;
  font-size: 17px;
}

.serch_id_pw a:hover {
  text-decoration: underline;
}

.login .social_btns {
  line-height: 2.5;
}
/*home_user_popup*/
.App{
  position: relative;
}
.popup_view{
  width:700px;
  height: 650px;
  padding:20px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  z-index: 1000;
  border:3px solid rgba(59, 59, 59, 0.3);
}
.popup_view_none{
  display: none;
  width:700px;
  height: 550px;
  padding:20px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  border:3px solid rgba(59, 59, 59, 0.3);
}

.popup_btn{
  position: absolute;
  bottom:10px;
  left:44%;
  transform: translate(-10px,-50%);
  background-color: rgb(218, 216, 216);
  box-sizing: border-box;
  opacity: 1;
  border-radius: 10px;
  border: 2px solid rgb(158, 154, 154);
}
.store_registration{
  position: absolute;
  bottom:10px;
  left:60%;
  transform: translate(-10px,-50%);
  background-color: rgb(218, 216, 216);
  box-sizing: border-box;
  opacity: 1;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid rgb(158, 154, 154);
}
.popup_btn>a{
  display: block;
  width: 100%;
  height: 100%;
  padding:10px 20px;
  box-sizing: border-box;
}
.popup_btn>a:hover{
  color:white;
  padding:10px 20px;
  box-sizing: border-box;
}
.store_registration:hover{
  opacity: 0.9;
  cursor: pointer;
  background-color: rgb(169, 168, 168);
}
.store_registration>a{
  display: block;
  width: 100%;
  height: 100%;
  padding:10px 20px;
  box-sizing: border-box;
}
.store_registration>a:hover{
  color:white;
}
.popup_btn:hover{
  opacity: 0.9;
  cursor: pointer;
  background-color: rgb(169, 168, 168);
}
#popsec1{
  border-top: 1px solid gainsboro;
  font-size: x-large;
  text-align: center;
  height: 55px;
}
#popsec2{
  border-top: 1px solid gainsboro;
  font-size: x-large;
  text-align: center;
  height: 55px;
}
#popsec3{
  border-top: 1px solid gainsboro;
  font-size: x-large;
  text-align: center;
  height: 55px;
}
#popsec1:hover{
  background-color: gainsboro;
}
#popsec2:hover{
  background-color: gainsboro;
}
#popsec3:hover{
  background-color: gainsboro;
}
.modal-content{
  position: relative;
}
.close-button{
  position: absolute;
    top: -477.8px;
    left: 877.8px;
    transform: translate(-50%, -50%);
    z-Index: 1000;
    background-color: white;
    cursor: pointer;
    color:rgb(118, 116, 116);
    box-sizing: border-box;
}
.close-button>span{
padding:15.5px 15px 15.5px 15px;
box-sizing: border-box;
border:1px solid rgb(158, 154, 154);
}
.close-button>span:hover{
    color: black
}
.App{
  position: relative;
}
/*owner*/
.ownerWrap{
  width: 100%;
  height: 100%;
}
.ownerWrap>.banner{
  width: 100%;
  height: 550px;
  background-color: red;
}
.ownerWrap>.banner_hidden {
  opacity: 0.7;
}
.ownerWrap>.contents{
  width: 60%;
  height: 570px;
  margin: 0 auto;
}
.ownerWrap>.contents_area{
  width: 60%;
  height: 900px;
  margin: 0 auto;
}
.owner_table_none{
  display: none;
}
.ownerWrap table{
  margin:0 auto;
  border-collapse: collapse;
}
.ownerWrap .select_text{
  color:#6e6e6e
}
.ownerWrap .select_text_show{
  color:black;
}
#owner_popup{
  margin-bottom: 100px;
}
.owner_store_btn{
  background-color: rgb(218, 216, 216);
  border-radius: 10px;
}
.owner_store_btn>span{
  color:rgb(81, 80, 80);
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-top: 5px;
  font-family: 'Cafe24Supermagic-Bold-v1.0';
  padding-bottom: 5px;
}
.owner_store_btn>span:hover{
  color:black
}
.search{
  color:rgb(81, 80, 80);
  background-color: rgb(218, 216, 216);
  border-radius: 10px;
}
.search>span{
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  font-family: 'Cafe24Supermagic-Bold-v1.0';
}
.search>span:hover{
  color:black
}
@media (prefers-reduion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: 'TTWanjudaedunsancheB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
  font-style: normal;
}
@font-face {
  font-family: 'KCCMurukmuruk';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCMurukmuruk.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GoryeongStrawberry';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/GoryeongStrawberry.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family:'bitbit';
  src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
}
@font-face {
  font-family: 'Cafe24Supermagic-Bold-v1.0';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}